<section>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <style>
  .blue-text {
  color: blue;
  h
  }

  .contact-block{
  color: white;
  background-color: navy;
  font-family: monospace;
  text-align: left;
  }

  .imp-text {
  color: blue;
  font-family: Lobster
  }

  .blue-text {
  color: blue;
  }
  h2 {
    font-family: Lobster, Monospace;
  }

  p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  }

  .thick-white-border {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  }

  .smaller-image {
    width: 200px;
  }

  .rating {
  color: red;
  }

  .boxed{
  display: block;
  }
</style>



  <h2>About Me</h2>
  <a data-flickr-embed="true"  href="#" title="about_me"><img class="smaller-image thick-white-border" src="https://farm8.staticflickr.com/7450/27023372815_c72d36f3cf_b.jpg" alt="about_me"></a>
    <p> I Just love automating things and try to work on it as much as possible, I do the same for living by automating the routine stuff and anything that can be autotmated. </p>
  <p class="imp-text">When I am free I love to spend time with my kids and family.</p>
  <p>I am also fond of <a href="https://goodreads.com/user/show/46467581-om-singh">reading</a> and <a href="/blog">writing</a>.</p>
</p>

<p>You can also reach me over:</p>
  <p class="contact-block">Twitter: @ohgnis</p>
  <p class="contact-block">email: o m p s at o m p s dot i n</p>
<p>know more <a href="/about">about me!!</a>.</p>
</section>
